*
{
	margin:0;
	padding:0;

}
body{
	background-color: #F3F3F3;
}
#back1
{
	background-image:url(26.jpg) ;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: serif;
}
.links
{
	text-align:right;
	padding-right:40px;
}
.links pre{
font-family: serif;
}
TABLE,TH,td{
	text-align: center;
	border: 2PX solid black;
	padding: 5PX;
}

#container
{
	position: relative;
	text-align: left;
}
.center
{
	position: absolute;
	margin-left: 45%;
	padding-top: 400px;
	margin-bottom: 20px;
}

