
*
{
	margin:0;
	padding:0;
}
body{
	background-color: #FFD7F5;
}
#back1
{
	background-image:url(22.jpg) ;
	background-repeat: no-repeat;
	font-family: serif;
}
.links
{
	text-align:right;
	padding-right:40px;
}
.links pre{
font-family: serif;
}
.container
{
	position: relative;
	text-align: left;
	display: inline;
}
.cont2
{
	position: relative;
	text-align: center;

}
.center
{
	position: absolute;
	margin-left: 45%;
	padding-top: 500px;
	padding-bottom: 30px;
}
.linklists 
{
	
	padding-left: 50px;
	font-size: 25px;
}
